{% extends "base.html" %}

{% block content %}
<div class="container container-fluid d-flex flex-column justify-content-between mt-5">
  <h1>
    {% block title %}
    {% if g.member['id'] == member['id'] %} Atualizar Meus Dados {% else %} Atualizar Membro {% endif %}
    {% endblock %}
  </h1>

  <form class="row g-2 mt-4 form-validate" method="post">
    <div class="form-group col-md-6">
      <label for="name" class="form-label fw-bold">Nome</label>
      <input type="text" class="form-control" name="name" id="name" value="{{ request.form['name'] or member['name'] }}"
        required>
    </div>

    <div class="form-group col-md-6">
      <label for="email" class="form-label fw-bold">Email</label>
      <input type="email" class="form-control" name="email" id="email"
        value="{{ request.form['email'] or member['email'] }}" required onblur="Validate.apply(this, 'isEmail')">
    </div>

    <div class="form-group col-md-6">
      <label for="rg" class="form-label"><span class="fw-bold">RG</span> (apenas números)</label>
      <input type="text" class="form-control" name="rg" id="rg"
        value="{{ request.form['rg'] or member['rg'] if member['rg'] }}" onkeydown="Mask.apply(this, 'rg')"
        onblur="Validate.apply(this, 'isRg')">
    </div>

    <div class="form-group col-md-6">
      <label for="cpf" class="form-label"><span class="fw-bold">CPF</span> (apenas números)</label>
      <input type="text" class="form-control" name="cpf" id="cpf"
        value="{{ request.form['cpf'] or member['cpf'] if member['cpf'] }}" onkeydown="Mask.apply(this, 'cpf')"
        onblur="Validate.apply(this, 'isCpf')">
    </div>

    <div class="form-group col-md-6">
      <label for="birth" class="form-label fw-bold">Data de nascimento</label>
      <input type="date" class="form-control" name="birth" id="birth"
        value="{{ request.form['birth'] or member['birth'].strftime('%Y-%m-%d') if member['birth'] }}">
    </div>

    {% if g.member['is_admin'] %}
    <div class="form-group col-md-6">
      <label for="admin" class="form-label fw-bold">Tem permissão de administrador?</label>
      <select class="form-select" name="admin" id="admin">
        <option value="0">Não</option>
        <option value="1" {% if member['is_admin'] %} selected {% endif %}>Sim</option>
      </select>
    </div>
    {% endif %}

    <div class="form-group col-md-12">
      <label for="address" class="form-label fw-bold">Endereço</label>
      <input type="text" class="form-control" name="address" id="address"
        value="{{ request.form['address'] or member['address'] if member['address'] }}">
    </div>

    <div class="d-flex justify-content-end mt-4">
      <a class="btn btn-secondary fw-bold me-3" href="{{ url_for('main.members') }}">Cancelar</a>
      <button class="btn btn-primary fw-bold" type="submit">Atualizar</button>
    </div>
  </form>
</div>
{% endblock %}