{% extends "base.html" %}

{% block content %}
<div class="container container-fluid d-flex flex-column justify-content-between mt-5">
  <h1>
    {% block title %}
    Atualizar Senha
    {% endblock %}
  </h1>

  <form class="row g-2 mt-4 form-validate" method="post">
    <div class="form-group col-md-6">
      <label for="password" class="form-label fw-bold">Senha atual</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="******" required onblur="Validate.apply(this, 'passwordLength')">
    </div>

    <div class="col-md-6"></div>

    <div class="form-group col-md-6">
      <label for="new_password" class="form-label fw-bold">Nova senha</label>
      <input type="password" class="form-control" name="new_password" id="new_password" placeholder="******" required onblur="Validate.apply(this, 'passwordLength')">
    </div>

    <div class="form-group col-md-6">
      <label for="new_password_repeat" class="form-label fw-bold">Confirmar nova senha</label>
      <input type="password" class="form-control" name="new_password_repeat" id="new_password_repeat"
        placeholder="******" required onblur="Validate.apply(this, 'passwordLength')">
    </div>

    <div class="d-flex justify-content-end mt-4">
      <a class="btn btn-secondary fw-bold me-3" href="{{ url_for('index') }}">Cancelar</a>
      <button class="btn btn-primary fw-bold" type="submit">Atualizar</button>
    </div>
  </form>
</div>
{% endblock %}