body {
  background: #f8f9fa;
}

.container {
  max-width: 1080px;
}

.btn {
  min-width: 10rem;
}

.custom-card,
.custom-card--large,
.custom-card--small {
  padding: 1.5rem 1rem;
  width: 480px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
}

.custom-card--small {
  width: 258px;
  min-height: 120px;
}

.custom-card--large {
  width: 480px;
  max-width: 100%;
}

.custom-card--link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
