{% extends "base.html" %}

{% block content %}
<div class="container container-fluid d-flex align-items-center justify-content-between mt-5">
  <h1 class="h1 high-contrast-accent">
    {% block title %}
    Membros
    {% endblock %}
  </h1>

  <div>
    <a class="btn btn-secondary fw-bold" href="{{ url_for('members.members_data') }}">Ver Dados</a>
    <a class="btn btn-primary fw-bold" href="{{ url_for('members.create') }}">Novo</a>
  </div>
</div>

<table class="table container container-fluid mt-4">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th class="text-end" scope="col">Cadastrado em</th>
      <th class="text-end" scope="col">Ações</th>
    </tr>
  </thead>

  <tbody>

    {% for member in members %}
    <tr>
      <td>
        {{ member['name'] }}
      </td>

      <td class="text-end">
        {{ member['created_at'].strftime("%d/%m/%Y %H:%M") }}
      </td>

      <td class="d-flex justify-content-end">
        <a class="me-2" title="Ver membro" href="{{ url_for('members.member', id=member['id']) }}">
          <img class="action-icon" src="{{ url_for('static', filename='icons/eye.svg') }}" alt="ícone de um olho">
        </a>

        <a class="me-2" title="Editar Membro" href="{{ url_for('members.edit', id=member['id']) }}">
          <img class="action-icon" src="{{ url_for('static', filename='icons/pencil-square-green.svg') }}"
            alt="ícone de uma caneta">
        </a>

        <form class="form-delete" method="post" action="{{ url_for('members.delete', id=member['id']) }}">
          <button style="border: none; background: transparent; padding: 0;" title="Excluir Membro" type="submit">
            <img class="action-icon" src="{{ url_for('static', filename='icons/trash.svg') }}"
              alt="ícone de uma lixeira">
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}