<footer class="footer mt-auto pt-3">
  <div class="dropdown d-flex flex-row-reverse">
    <button class="btn btn-primary dropdown-toggle" id="accessibility-button" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="{{ url_for('static', filename='icons/wheelchair-solid.svg')}}"
        alt="ícone de uma pessoa em uma cadeira de rodas">
    </button>

    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="#">Alto contraste</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Aumentar/diminuir texto</a>
      </li>
    </ul>
  </div>
</footer>